@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: darkgrey;
}

.App-link {
  color: #61dafb;
}

.alert {
  text-align: center;
  display: flex;
  flex-direction: column;
}

h3 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: floralwhite;
  font-weight: bold
}

h1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: floralwhite;
  font-weight: bold
}

.CoolText {
  margin: auto auto 3rem;
  width: 60rem;
}

.select {
  font-weight: 600;
  font-size: 1rem;
  margin-top: 1rem;
}

.answer {
  width: 60rem;
}

.answerbox {
  margin: auto auto 2rem;
}

.blackText {
  color: black;
}

.vote {
  margin: auto, auto, 2rem;
  width: 60rem;
}

.validate {
  margin: auto, auto, 2rem;
  width: 50rem;
}

.list-group-item {
  margin: 0.5rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
